############################################
# Dependencies
############################################
# IDE
.idea

# php
vendor

# node
node_modules

############################################
# Environment files
############################################
*.env

############################################
# volumes
############################################
docker/mariadb/data

############################################
# others
############################################
.phpunit.result.cache
/public/css
/public/js
/public/mix-manifest.json
!/resources/views/vendor
