############################################
# IDE dependencies
############################################
.idea

############################################
# Environment files
############################################
*.env

############################################
# volumes
############################################
docker/mariadb/data